$header-height: 3.25em;

header {
  height: $header-height;
  line-height: $header-height;
  box-shadow: 0 0 1px rgba(0,0,0,.6);
}

.main {
  margin-top: $header-height;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-active {
  opacity: 0
}
